### Emacs
\#*#
\.#*
*~
*.bck

### Python
*.pyc
*.egg-info/
build/
dist/
.ipynb_checkpoints/
*/None0*.png
*/Untitled.ipynb

### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
*eps-converted-to.pdf

# Mac
.DS_Store